<!DOCTYPE html>
<html>

<head>
    <title> Wealther App </title>
    <link rel="icon" type="image/x-icon" href="../images/icon.png">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div>
        <img src="../images/10127236.png" alt="Temperature today">
    </div>
    <div id="temperature-display" class="temperature-display">Temperature will appear here...</div>
    <div>
        <form>
            <input id="search" type="text">
            <button id="button" type="submit"> Search </button>
        </form>
    </div>
    <script src="../scripts/searchForTemperature.js"></script>
</body>

</html>