/* Reseta estilos para maior compatibilidade entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4da0b0, #d39d38);
    color: #333;
}

/* Estilos do contêiner principal */
.container {
    text-align: center;
    background: #ffffffcc;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%;
}

.temperature{
    display: flexbox;
    justify-content: center;
}

/* Imagem de clima */
.container img {
    width: 100px;
    margin-bottom: 1rem;
}

/* Texto explicativo */
.container p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #555;
}

/* Campo de entrada de texto */
#search {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* Botão de pesquisa */
#button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #4da0b0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button:hover {
    background-color: #3b8693;
}

/* Campo de exibição da temperatura */
#temperature {
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    text-align: center;
    color: #333;
}
